<a href="https://colab.research.google.com/github/Thala00769/TH/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
author = ['Jitender', 'Purnima',
		'Arpit', 'Jyoti']
auth_series = pd.Series(author)
print(auth_series)

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object